body {
  background-color: lab(89.44% 2.72 0.96);
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 12px;
}

.table th,
.table td {
  vertical-align: middle;
}

.btn {
  border-radius: 6px;
}
